.superInput {
    width: 80%;
    border: none;
    border-bottom: solid 1px #24254A;
    margin: 10px;
}

.errorInput {
    margin: 10px;
    border: 2px solid lime;
    background: red;
}

.error {
    color: red;
    height: 20px;
}