.packItem {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 100px 1fr 100px 100px 100px;
    border-bottom: 2px solid mediumpurple;
}

.packSpecification {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
}