.packContents {
    font-weight: bold;
    font-size: large;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid darkviolet;
    background-color: mediumpurple;
    display: grid;
    grid-template-columns: 1fr 1fr 60px 15px 75px 60px 30px 30px;
    margin: auto;
}
.packsContainer {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-gap: 10px;
}
.packsField {

}
.sidebar {
    background-color: mediumpurple;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.title {

}
.showMyAllPacks {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;

}
.filterByCardsCount {
    width: 150px;
    margin: auto;
}
.paginator {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
.filter {
    width: 100px;
}
.activeButton button {
    border-color: lightgrey;
    color: lightgrey;
}
.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 25px;
    width: 150px;
    margin: auto;
}
.search input {
    margin: 0 0 0 0;
    min-width: 120px;
    height: 20px;
}
/*
.pageCount {
    position: absolute;
    top: 10px;
    left: 10%;
}*/

